{% extends "core/base_staff.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/messaging/message.css' %}">

<!-- ISLAND MENU -->

<div class="island">
    <h3> ☰ Messaging</h3>

        <a href="{% url 'messaging:messaging' %}"> New Message</a>
        <a href="{% url 'messaging:inbox' %}"> Inbox</a>
        <a href="{% url 'messaging:draft' %}"> Drafts</a>
        <a href="{% url 'messaging:sent' %}"> Sent</a>
</div>


<!-- MAIn CONTENT -->

<div class="content">

    <div class="card">
        <h2>Drafts</h2>

        <div class="draft-container">

            {% for message in messages %}

                <div class="draft-card">

                    <a href="{% url 'messaging:detail' message.pk %}" style="display: contents;">

                        <div class="sender">
                            To: {{ message.recipient }}
                        </div>

                        <div class="subject">
                            {{ message.subject }}
                        </div>

                        <div class="time">
                            {{ message.sent_at }}
                        </div>

                    </a>

                    <form method="post"
                          action="{% url 'messaging:delete_draft' message.message_id %}"
                          style="display:inline;">

                        {% csrf_token %}

                        <button type="submit"
                                class="delete-btn"
                                onclick="return confirm('Delete this draft?')">
                            🗑
                        </button>

                    </form>

                </div>

            {% empty %}

                <div class="empty">No messages</div>

            {% endfor %}

        </div>

    </div>

</div>



{% endblock %}