{% extends "core/base_staff.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Sent Mail</title>
    <link rel="stylesheet" href="{% static 'css/messaging/message.css' %}">
</head>

<body>

<div class="island">
    <h3>📬 Messaging</h3>
    
    <a href="{% url 'messaging:messaging' %}">✉️ New Message</a>
    <a href="{% url 'messaging:inbox' %}">📥 Inbox</a>
    <a href="{% url 'messaging:draft' %}">📝 Drafts</a>
    <a href="{% url 'messaging:sent' %}" class="active">📤 Sent</a>
</div> 

<div class="content">

    <div class="card">
        <h2>Sent</h2>

        <div class="message-list">
         {% for message in messages %}
           <a href="{% url 'messaging:message_detail' message.message_id %}" class="message-item">
            
               <div class="sender">
                    To: {{ message.recipient }}
               </div>

               <div class="subject">
                    {{ message.subject }}
               </div>

               <div class="preview">
                    {{ message.body|truncatechars:50 }}
               </div>

               <div class="time">
                    {{ message.timestamp }}
               </div>

           </a>
         {% empty %}
          <p class="empty">No sent messages</p>
         {% endfor %}
        </div>

    </div>

</div>

</body>
</html>

{% endblock %}
